<div class="container">
  <div class="row">
    <div class="col-md-5" style="margin-top: 20px">
      <h3 class="text-center my-4"></h3>
      <form
        [formGroup]="weatherSearchForm"
        (ngSubmit)="sendToAPIXU(weatherSearchForm.value)"
      >
        <div class="form-group" >
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please enter a Location"
            formControlName="location"
          />
        </div>
        <div >
          <button (click)="toggle()" id="bt" type="submit" class="btn btn-success btn-md">
            Search for the weather
          </button>
        </div>
      </form>
    </div>
 
  </div>
</div>
&nbsp;
&nbsp;
 <ng-container *ngIf="show" >
<div class ="wrapper" >
    <div class="gridf box" style="background-color: #D2A8F7;width:auto;">
      <h4 class="text-center" style="color:red;margin-top:10px;">
       Location: {{ this.weatherData?.location.name }},
        {{ this.weatherData?.location.country }}
      
      
      </h4>
      &nbsp;
      <h4 class="text-center">Current Weather Details:</h4>
      <span class="text-center">
        <h5>Weather condition:
        {{ this.weatherData?.current.condition.text }}.
        <img style="background-color: white" src="{{this.weatherData?.current.condition.icon}}" />
        </h5>
      </span>
      <table id="tb">
  <tr>
    <th>Parameters</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Temperature (in °C)</td>
    <td>{{ this.weatherData?.current.temp_c }}</td>
  </tr>
  <tr>
    <td>Temperature (in °F)</td>
    <td>{{ this.weatherData?.current.temp_f }}</td>
  </tr>
  <tr>
    <td>Humidity</td>
    <td>{{ this.weatherData?.current.humidity }}</td>
  </tr>      

</table>

    </div>

 <div class ="grid" style="margin-bottom: 20px">
<h4> 4 Days Forecast Temperature: </h4>
    <table id="tb">
      <tr>
        <th>Date</th>
        <th>Weather condition</th>
        <th>Min. Temp. (in  °C)</th>
        <th>Max. Temp. (in  °C)</th>
        <th>Avg. Temp. (in  °C)</th>
      </tr>
        <tr *ngFor="let index of [1,2,3,4]">
          <td style="font-weight: bold">
            {{ this.weatherDataNext?.forecast.forecastday[index].date }}
          </td>
          <td>
            {{ this.weatherDataNext?.forecast.forecastday[index].day.condition.text }}
            <img src="{{this.weatherDataNext?.forecast.forecastday[index].day.condition.icon}}" /> 
          </td>
          <td>
            {{ this.weatherDataNext?.forecast.forecastday[index].day.mintemp_c }}
          </td>
          <td>
            {{ this.weatherDataNext?.forecast.forecastday[index].day.maxtemp_c }}
          </td>
          <td>
            {{ this.weatherDataNext?.forecast.forecastday[index].day.avgtemp_c }}
          </td>
             
        </tr>


          
  </table>
  </div>
</div>

  </ng-container>


<!-- <div *ngFor="let ind of history_data">
  {{ind?.location.country}}
</div> -->
<!-- <div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div> -->

&nbsp;
&nbsp;
<!-- in app.component.html -->
<fusioncharts 
    height="400"
    width="100%"
    type="mscombi2d"
    [dataSource]=dataSource>
</fusioncharts> 

